*.backup
*.egg-info
*.pyc
*.pyo
*.log
*.idea
*.project
*.pydevproject
*.settings
*.hg
*.retry
.ipynb_checkpoints
.hgignore
relatorios_teste.py
vault_pass_file
/flake8.out
/build
/reports
/cache
# /deploy/.vault_pass_file.txt
/.python-version
/restart.txt
/pip-wheel-metadata
/static_prod
.env
athenas/.env
src/athenas/.env
athenas.code-workspace
ENV
*.vs
proetry.lock
venv